In [1]:
print('Hello world')

Hello world

In [2]:
print(123)

123

In [3]:
age=30
print("My age is:", age)

My age is: 30

### f-> formating

In [4]:
print(f"MY age is:{age}")

MY age is:30

In [5]:
print("my age is:{age}")

my age is:{age}

In [6]:
name="sri"
age=30
print("my name is {} and age is {}".format(name,age))

my name is sri and age is 30

In [ ]:
### place holder

In [7]:

print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is sri and age is 30

In [9]:
name="sri"
age=30
degree="mtech"
print("my ageis{fage} i have completed:{fdegree} with the name of{fname}".format(fage=age,fname=name,fdegree=degree))

my ageis30 i have completed:mtech with the name ofsri

### control flow

In [10]:
### if statement
age=18
if age>=18:
    print("u r elegible to vote")

u r elegible to vote

In [11]:
### if statement
age=8
if age>=18:
    print("u r elegible to vote")
else:
    print("u r not elegible to VOTE")

u r not elegible to VOTE

In [13]:
18>=19

False

In [16]:
input()

 sri

'sri'

In [19]:
age=int(input("enter ur age"))
if age>=18 and age<=45:
    print("u are young blood")
else:
    print("u r not young blood")

enter ur age 46

u r not young blood

## f formating is used below

In [3]:
money=int(input("enter product money"))
if(money>1000):
    print("20% off if giving")
    print(f"ur discount price is:{money*0.8}")
else:
    print("30% off")
    print(f"ur discount price is:{money*0.7}")

enter product money 2000

20% off if giving
ur discount price is:1600.0

#### using .format

In [4]:
money=int(input("enter product money"))
if(money>1000):
    print("the product is going to get 20% discount and final price is {}".format(money*0.8))
else:
    print("the product is going to get 30% discount and final price is {}".format(money*0.7))

enter product money 2000

the product is going to get 20% discount and final price is 1600.0

In [8]:
product_price=int(input("enter price"))
if product_price>=3000:
    print(f"20% discount:-price of the prodct is { product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("u r additionALLY GETTING A SUITCASE")
    print(f"30% discount:-price of the product is {product_price*0.7}")
elif  product_price>=100 and product_price>=2000:
    print("40% discount:-price of the product is {}".format(product_price*60) )
else:
    print("drink tea")

enter price 2999

u r additionALLY GETTING A SUITCASE
30% discount:-price of the product is 2099.2999999999997

## loop statements
1. while
2. For loop
3. nested loops
4. loop control(break,continue,pass)

In [6]:
#while loop
joining_age=25
while joining_age<=60:
    #print("sorry its a retirement age")
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its ur retiremnt age")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its ur retiremnt age

In [8]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("please fill the amount")

1000
900
800
700
600
500
400
300
200
100
please fill the amount

## For loop

In [18]:
lst=["sri",10,20,30,"apple"]
type(lst)
lst[4]

'apple'

In [21]:
for x in lst:
    print(x)
    if x==lst[3]:
        print("the value is",x)
        break

sri
10
20
30
the value is 30

### nested loops

In [24]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [29]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [44]:
n=7
for i in range(0,n):
    for j in range(0,i+3):
        print("*",end="")
    print("\r")

***
****
*****
******
*******
********
*********